.veggieButtons {
  display: flex;
}

.materialList {
  display: inline-block;
  background-color: green;
  align-content: center;
  color: white;
  margin-left: 0.5%;
  border: 1px, solid;
  border-radius: 7px;
  width: 20%;
  list-style: none;
}
/* .materialList li {
  list-style: none;
  display: inline-block;
} */

.plantList li {
  list-style: none;
}

.plantList {
  background-color: green;
  margin-left: 0.5%;
  align-content: center;
  border: 1px, solid;
  border-radius: 7px;
  color: white;
  width: 20%;
  list-style: none;
  margin-bottom: 5%;
  /* display: inline-block; */
}

.gardenH2 {
  color: white;
  margin-left: 0.5%;
  margin-bottom: 0.01%;
  background-color: rgb(3, 231, 3);
  width: 20%;
  border: 1px, solid;
  border-radius: 10px;
}

.plantList2 {
  background-color: green;
  margin-left: 0.5%;
  align-content: center;
  border: 1px, solid;
  border-radius: 7px;
  color: white;
  display: inline-block;
  width: 20%;
  height: 50%;
  list-style: none;
  margin-bottom: 5%;
}
